<%- include('../_layouts/adminheader') %>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <a href="/admin/categories" class="btn btn-secondary float-left" role="button" aria-pressed="true">Back to all categories</a>
        </div>
        <span><h2 class="page-title">Create a new category</h2></span>
        <div class="col-4">
            <a href="/admin/pages" class="btn btn-secondary float-right invisible" role="button" aria-pressed="true"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <form method="post" action="/admin/categories/add-category">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="add a category">
            </div>
        </div>

        <br>
        <button type="submit" style="margin-left: 17.25%; width: 82.75%;" class="btn btn-primary">Submit</button>
    </form>
    <br>
</div>

<%- include('../_layouts/adminfooter') %>