<%- include('../_layouts/adminheader') %>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <a href="/admin/products" class="btn btn-primary float-left" role="button" aria-pressed="true">Back to all products</a>
        </div>
        <span><h2 class="page-title">Add a product</h2></span>
        <div class="col-4">
            <a href="/admin/products" class="btn btn-secondary float-right invisible" role="button" aria-pressed="true"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <form method="post" action="/admin/products/add-product" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><strong>Title</strong></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="add a title">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><strong>Description</strong></label>
            <div class="col-sm-10">
                <textarea name="desc" class="form-control" cols="30" rows="10" placeholder="Description"><%= desc %></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><strong>Categories</strong></label>
            <div class="col-sm-10">
                <select name="category" class="form-control">
                    <% categories.forEach((cat) => { %>
                        <option value="<%= cat.slug %>"><%= cat.title%></option>
                    <% }); %>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><strong>Price</strong></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="Price">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><strong>Image</strong></label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="image" id="img">
                <img src="#" alt="Your Image" id="imgPreview">
            </div>
        </div>

        <br>
        <button type="submit" style="margin-left: 17.25%; width: 82.75%;" class="btn btn-primary"><strong>Submit</strong></button>
    </form>
    <br>
</div>

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#img").change(function() {
        readURL(this);
    });
    
</script>

<%- include('../_layouts/adminfooter') %>