<%- include('../_layouts/adminheader') %>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <a href="/admin/categories/add-category" class="btn btn-primary float-left" role="button" aria-pressed="true">Add a new category</a>
        </div>
        <span><h2 class="page-title">Categories</h2></span>
        <div class="col-4">
            <a href="" class="btn btn-secondary float-right disabled invisible" role="button" aria-pressed="true"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbod>
        <% categories.forEach((cat) => { %>
        <tr>
            <td><%= cat.title %></td>
            <td><a href="/admin/categories/edit-category/<%= cat._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbod>
</table>

<%- include('../_layouts/adminfooter') %>