<%- include('../_layouts/adminheader') %>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <a href="/admin/pages" class="btn btn-primary float-left" role="button" aria-pressed="true">Back to pages</a>
        </div>
        <span><h2 class="page-title">Edit a page</h2></span>
        <div class="col-4">
            <a href="/admin/pages" class="btn btn-secondary float-right disabled invisible" role="button" aria-pressed="true"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <form method="post" action="/admin/pages/edit-page/<%= id %>">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="add a title">
            </div>
        </div>
        <div class="form-group row">
            <label for="slug" class="col-sm-2 col-form-label">Slug</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="slug" value="<%= slug%>" placeholder="add a slug">
            </div>
        </div>
        <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label">Content</label>
            <div class="col-sm-10">
                <textarea name="content" class="form-control" id="ta" cols="30" rows="10" placeholder="content..."><%= content %></textarea>
            </div>
        </div>
        <br>
        <button type="submit" style="margin-left: 17.25%; width: 82.75%;" class="btn btn-primary">Submit</button>
    </form>
    <br>
</div>

<%- include('../_layouts/adminfooter') %>