<%- include('../_layouts/adminheader') %>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <a href="/admin/products" class="btn btn-primary float-left" role="button" aria-pressed="true">Back to all products</a>
        </div>
        <span><h2 class="page-title">Edit product</h2></span>
        <div class="col-4">
            <a href="/admin/products" class="btn btn-secondary float-right disabled invisible" role="button" aria-pressed="true"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<br>

<div class="container">
    
    <form method="post" action="/admin/products/edit-product/<%= id %>" enctype="multipart/form-data">

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><strong>Title</strong></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><strong>Description</strong></label>
            <div class="col-sm-10">
                <textarea name="desc" class="form-control" cols="30" rows="10" placeholder="Description"><%= desc %></textarea>
            </div>            
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><strong>Category</strong></label>
            <div class="col-sm-10">
                <select name="category" class="form-control">
                    <% categories.forEach(function(cat){ %>
                        <option value="<%= cat.slug %>"
                            <% if (cat.slug == category) { %>
                                selected="selected"
                            <% } %>
                            ><%= cat.title %>
                        </option>
                            <% }); %>
                </select>
            </div>            
        </div>
            
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"><strong>Price</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="Price">
                </div>
            </div>
            
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"><strong>Current Image</strong></label>
                <div class="col-sm-10">
                    <p>
                        <% if (image == "") { %>
                            <img id="noimage" src="/images/noimage.png" alt="">
                        <% } else {%>
                            <img id="noimage" src="/product_images/<%= id %>/<%= image %>" alt="">
                        <% } %>
                    </p>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"><strong>Upload Image</strong></label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="image" id="img">
                    <img src="#" id="imgPreview" alt="">
                </div>
            </div>
            
            <input type="hidden" name="pimage" value="<%= image %>">

            <button type="submit" style="margin-left: 17.25%; width: 82.75%;" class="btn btn-primary"><strong>Submit</strong></button>
        </form>
        <br>
</div>

<hr>
<h3 class="page-header text-center">Gallery</h3>
<hr>

<ul class="gallery">
    <% galleryImages.forEach(function(image){ %>
    <% if (image != "thumbs") { %>
    <li>
        <img src="/product_images/<%= id %>/gallery/thumbs/<%= image %>" alt="">&nbsp;
        <a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>?id=<%= id %>">delete</a>
    </li>
    <% } %>
    <% }); %>
</ul>

<br><br>
<form action="/admin/products/product-gallery/<%= id %>" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
    <div class="fallback">
        <input type="file" name="file" multiple>
        <input type="submit" value="Upload">
    </div>
</form>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/basic.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>
<script>
    
    // Preview image
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#img").change(function() {
        readURL(this);
    });
    
    // Dropzone
    Dropzone.options.dropzoneForm = {
        acceptedFiles: "image/*",
        init: function() {
            this.on("queuecomplete", function(file) {
               setTimeout(function() {
                location.reload()
                }, 1000); 
            });
        }
    }
    
</script>

<%- include('../_layouts/adminfooter') %>