<%- include('../_layouts/adminheader') %>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <a href="/admin/pages/add-page" class="btn btn-primary float-left" role="button" aria-pressed="true">Add a new page</a>
        </div>
        <span><h2 class="page-title">Pages</h2></span>
        <div class="col-4">
            <a href="" class="btn btn-secondary float-right invisible disabled" role="button" aria-pressed="true"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<br>
<table class="table table-hover sorting">
    <thead>
      <tr class="home">
        <th scope="col">Title</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <% pages.forEach(function(page){ %>
        <tr id="id_<%= page._id %>" class="<%= page.slug %>">
            <td><%= page.title %></td>
            <td><a href="/admin/pages/edit-page/<%= page._id %>">Edit</a></td>
            <% if (page.slug == "home") { %>
            <td></td>
            <% }  else {%>
            <td><a class="confirmDeletion" href="/admin/pages/delete-page/<%= page._id %>">Delete</a></td>
            <% }%>
        </tr>
        <% }); %>
    </tbody>
</table>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $('tbody').sortable({
        
        items: "tr:not('.home')",
        placeholder: "ui-state-hightlight",
        update: () => {
            var ids = $('tbody').sortable("serialize");
            var url = "/admin/pages/reorder-pages";
            
            $.post(url, ids);
        }
    });
</script>

<%- include('../_layouts/adminfooter') %>