<%- include('../_layouts/adminheader') %>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <a href="/admin/products/add-product" class="btn btn-primary float-left" role="button" aria-pressed="true">Add a new product</a>
        </div>
        <span><h2 class="page-title">Products</h2></span>
        <div class="col-4">
            <a href="" class="btn btn-secondary float-right invisible disabled" role="button" aria-pressed="true"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<br>

<% if (count > 0) { %>

<table class="table table-hover">
    <thead>
      <tr class="home">
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Product Image</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody id="sortable">
        <% products.forEach((product) => { %>
        <tr>
            <td><%= product.title %></td>
            <td><img src="/images/nigerian-naira-16.png" alt="N"> <%= parseFloat(product.price).toFixed(2) %></td>
            <td><%= product.category %></td>
            <td>
                <% if (product.image == "") { %>
                    <img src="/images/noimage.png" alt="" id="noimage">
                <% } else { %>
                    <img src="/product_images/<%= product._id %>/<%= product.image%>" alt="" id="noimage">
                <% } %>
            </td>
            <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else { %>
    <h3 class="text-center">There are no products</h3>
<% } %>

<%- include('../_layouts/adminfooter') %>