<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/adminstyle.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <style>
        nav {
            /* font-family: 'Courier New', Courier, monospace; */
            font-size: 14px;
            line-height: 1;
        }
        .bd-footer{font-size:85%;text-align:center;}
        .bd-footer a{font-weight:500;color:#F5F5F5}
        .bd-footer a:focus,.bd-footer a:hover{color:#007bff}
        .bd-footer p{margin-bottom:0}@media (min-width:576px){.bd-footer{text-align:left}}
        .bd-footer-links{padding-left:0;margin-bottom:1rem}
        .bd-footer-links li{display:inline-block}
        .bd-footer-links li+li{margin-left:1rem}
        footer {
            font-size: 12px;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        footer p {
            margin-bottom: .25rem;
        }
        /* .btn { border-color: blue; background-color: blue; }
        .btn:hover { border-color: blue; background-color: blue; } */
        /* .form-control:focus {
            border-color: inherit;
        } */
        #p01 {
            color: #F5F5F5;
            font-size: 1.5em;
        }
        #half {
            width: 50%;
        }
        .vb {
            /* border-right: 2px solid blue; */
            border-right: 1px solid #808080;
        }
    </style>

    <title>Admin | DSMall.com - Online Shopping for Popular Electronics, Fashion, Computer, Books, DVD's, Home & Garden, Toys & Sport, Automobiles and More.</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item text-muted">
                    <a class="nav-link" href="#"><strong style="color:#3d5c5c;">NEW & INTERESTING FINDS</strong> ON <span style="color:purple;">DS</span><span style="color:blue;">MALL</span> </a>
                </li>
                <button class="btn btn-primary" style="color:white;"><strong>EXPLORE</strong></button>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-muted">
                    <a class="nav-link" href="#">Buyer Protection</a>
                </li>
                <div class="vb"></div>
                <li class="nav-item text-muted">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <div class="vb"></div>
                <li class="nav-item dropdown text-muted">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Currency</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">USD</a>
                        <a class="dropdown-item" href="#">EURO</a>
                        <a class="dropdown-item" href="#">FRANC</a>
                        <a class="dropdown-item" href="#">NGN</a>
                    </div>
                </li>
                <div class="vb"></div>
                <li class="nav-item dropdown text-muted">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">EN</a>
                        <a class="dropdown-item" href="#">FR</a>
                        <a class="dropdown-item" href="#">ESP</a>
                        <a class="dropdown-item" href="#">ITA</a>
                        <a class="dropdown-item" href="#">CHN</a>
                        <a class="dropdown-item" href="#">POR</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <form class="input-group input-group-sm mb-3 mx-auto" id="half" style="margin-top: 5px;">
                    <!-- float-sm-left float-md-left float-lg-left float-xl-left -->
                    <div class="input-group-prepend">
                        <button style="background-color:blue; color:white;" type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All
                            <!-- Categories -->
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Electronics</a>
                            <a class="dropdown-item" href="#">Fashion</a>
                            <a class="dropdown-item" href="#">Books</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Apparel</a>
                            <a class="dropdown-item" href="#">Computers</a>
                            <a class="dropdown-item" href="#">DVD's</a>
                            <a class="dropdown-item" href="#">Toys</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Home</a>
                            <a class="dropdown-item" href="#">Garden</a>
                            <a class="dropdown-item" href="#">Sports</a>
                            <a class="dropdown-item" href="#">Automobiles</a>
                        </div>
                    </div>
                    
                    <input type="text" class="form-control" placeholder="I'm shopping for..." aria-label="Text input with segmented dropdown button">
        
                    <div class="input-group-append">
                        <button style="background-color:blue;" class="btn" type="submit"><i style="color:white;" class="fas fa-search"></i></button>
                    </div>
                </form>

    </nav>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
        <a class="navbar-brand animated bounceInLeft" href="/" target="_blank"> 
            <!-- <img class="logo" alt="Brand" height="22" src="https://www.deliveryscience.co/img/DS_logo.png" width="72"> -->
            <i class="fas fa-shopping-basket animated bounce" id="p01"></i> 
            <strong style="color:purple;">ds<span style="color:blue;">mall</span></strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <strong><a class="nav-link" href="/admin/pages">Pages</a></strong>
            </li>
            <li class="nav-item">
                <strong><a class="nav-link" href="/admin/categories">Categories</a></strong>
            </li>
            <li class="nav-item">
                <strong><a class="nav-link" href="/admin/products">Products</a></strong>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <strong><a class="nav-link" href="/users/logout">Logout</a></strong>
                </li>
           </ul>
        </div>
    </nav>
    
    <main role="main" class="container">
        
        <div class="starter-template">
            <br>
            <%- messages('messages', locals) %>

            <% if(errors) {%>
                <% errors.forEach(function(error) { %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
                <% });%>
            <% }%>