</div><!-- /.starter-template -->
</main><!-- /.container -->
<br>
<hr>
<br>
<footer class="bd-footer bg-dark">
    <div class="container-fluid p-3 p-md-5">
        <p class="float-right animated slideInRight">
            <a style="color: #F5F5F5" href="#"><i class="fas fa-arrow-circle-up" id="p01"></i></a>
        </p>
        <ul class="bd-footer-links">
            <li><a href="">Conditions of use</a></li>
            <li><a href="">Privacy Notice</a></li>
            <li><a href="">Interest-Based Ads</a></li>
            <li style="color: #808080">&COPY; 2018, DSMall.com, Inc. or its affiliates</li>
        </ul>
    </div>
</footer>
<br>
<!-- Optional JavaScript -->
<!-- CKEditor -->
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>