<% include _layouts/header %>

<div class="row products">
    
    <% products.forEach(function(p) { %>
    
        <div class="col-xs-12 col-md-4 p">
            <a class="pa" href="/products/<%= p.category %>/<%= p.slug %>">
                <img class="pimage" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
            </a>
            <h3><%= p.title %></h3>
            <h4><img src="/images/nigerian-naira-16.png" alt="N"><%= parseFloat(p.price).toFixed(2) %></h4>
            <a class="vd" href="/products/<%= p.category %>/<%= p.slug %>">View Details</a>
        </div>
    <% }); %>
    
</div>

<% include _layouts/footer %>