<% include _layouts/header %>

<% if (typeof cart !== "undefined") { %>

<h1 class="page-title">My Cart</h1>
<br><br>

<table class="table table-striped alignmiddle">
    
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th>Subtotal</th>
    </tr>
    
    <% var total = 0; %>
    <% cart.forEach(function(product){ %>
    <% var sub = parseFloat(product.qty * product.price).toFixed(2) %>
    <% total += +sub %>
    <tr>
        <td><img class="cpi" src="<%= product.image %>" alt=""></td>
        <td><%= product.title %></td>
        <td><img src="/images/nigerian-naira-16.png" alt=""><%= product.price %></td>
        <td><%= product.qty %></td>
        <td>
            <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=clear">Clear</a>&nbsp;
        </td>
        <td><img src="/images/nigerian-naira-16.png" alt=""><%= sub %></td>
    </tr>
    <% }); %>
    <tr>
        <td colspan="6" align="right"><b>Total: </b> <img src="/images/nigerian-naira-16.png" alt=""><%= parseFloat(total).toFixed(2) %></td>
    </tr>
    <tr>
        <td colspan="5" align="right">
            <a class="clearcart btn btn-danger" href="/cart/clear">Clear cart</a>
        </td>
        <td colspan="5" align="right">
            <a class="btn btn-primary buynow" href="#">Buy now</a>
        </td>
    </tr>
    
</table>

<form class="pp" action="" method="post">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="business" value="jultranet-facilitator@gmail.com">
<% var num = 0; %>
<% cart.forEach(function(p){ %>
    <% num++ %>
    <input type="hidden" name="item_name_<%= num %>" value="<%= p.title %>">
    <input type="hidden" name="amount_<%= num %>" value="<%= p.price %>">
    <input type="hidden" name="quantity_<%= num %>" value="<%= p.qty %>">
<% }); %>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="amount" value="<%= total %>">
<input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form>

<% } else {%>
<h3 class="text-center">Your cart is empty.</h3>
<% } %>

<script>
    
$(function() {
   
    $('a.clearcart').on('click', function () {
        if (!confirm('Confirm clear cart'))
            return false;
    });
    
    $('a.buynow').on('click', function (e) {
        e.preventDefault();

            let userPhoneNumber = document.getElementById('phone_number');

            let  handler = PaystackPop.setup({
                key: 'pk_test_9c1601fa80512ae17e0b62ba43dd3621acb4d394',
                email: 'oyedotunsodiq@gmail.com',
                amount: 10000,
                ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                metadata: {
                    custom_fields: [
                        {
                            display_name: "Mobile Number",
                            variable_name: "mobile_number",
                            value: "+2348012345678"
                        }
                    ]
                },
                callback: function(response){
                    alert('success. transaction ref is ' + response.reference);
                },
                onClose: function(){
                    alert('window closed');
                }
            });
            handler.openIframe();

        // $.get('/cart/buynow', function() {
        //     $('form.pp input[type=image]').click();
        //     $('.ajaxbg').show();
        // });
    });
        
});
    
</script>

<script>

</script>

<% include _layouts/footer %>