<% include _layouts/header %>

<div class="row">
    
    <h1 class="page-header"><%= p.title %></h1>
    
    <div class="col-xs-12 col-md-5">
        <img class="spi" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
        <br>
    </div>
    <div class="col-xs-12 col-md-7">
        <p><%= p.desc %></p>
        <p><img src="/images/nigerian-naira-16.png" alt="N"> <%= parseFloat(p.price).toFixed(2) %></p>
        <% if (loggedIn) { %>
        <p><a href="/cart/add/<%= p.slug %>">Add to cart</a></p>
        <% } else {%>
        <p>You must be logged in to purchase items.</p>
        <% } %>
    </div>
    <div class="col-xs-12">
        <ul class="gallery">
            <% galleryImages.forEach(function(image){ %>
            <% if (image != "thumbs") { %>
            <li>
                <a data-fancybox="gallery" href="/product_images/<%= p.id %>/gallery/<%= image %>">
                    <img src="/product_images/<%= p.id %>/gallery/thumbs/<%= image %>" alt="">
                </a>
            </li>
            <% } %>
            <% }); %>
        </ul>
    </div>
</div>

<% include _layouts/footer %>